#global{
	position: relative;
	background-color: yelw;
	width:966px;
	margin:auto;
	font-family: "Helvetica Neue","Tahoma","Arial","Verdana","sans serif";-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;
	margin-top:px;
	background-color: #FFF;
	color: #000;

}
div {
	
	}

body{

	
}

*
/* ---------------------header-------------------------------  */
.logo{
	display: inline-block;
	margin-right: 60px;
}
.entete{
	position: relative;
	width: 966px;
	background-color: ;
	height: 55px;
	margin-top: 5px;

}
.bar-noir{
	position: relative;
	width: 100%;
	background-color: black;
	height: 25px;
	color: white;
	}
.bar-noir div{
	display: inline;
}
.bar-noir .nom{
	float:left;
	margin-left: 150px;
	font-weight: bold;

}
.input{
	width:350px;
}
.bar-noir .suivi{
	float:right;
	margin-right: 180px;

}
.bar-noir .acheter{
	float:right;
	margin-right:45px;
}	
#info{
	margin-top:20px;
	display: inline-block;
	vertical-align: top;
	
}
#info img{
	margin-top: -10px;
}

.con{
	font-size: 0.9rem;
letter-spacing: 0px;
text-transform: uppercase;
font-weight: bold;
}
header ul li{
	list-style: none;
	display: inline-block;
	margin-right: 40px;
	cursor: default;
	float: left;
	text-shadow: none;
	letter-spacing: 0px;

}
.menu{
	width: 966px;
	background-color: #F68B1A ;
	height: 47px;
	position: relative;	
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 10px;
}
.menu a{
color: black;
}
#boutique{
 
margin-left: 5px;

 background: white;
 font-size: 1.0em;
 border: 1px solid white;
 border-radius: 10px;
font-family: Roboto,sans-serif;
font-weight: bold;
height: 20px !important;
width: 200px !important;
padding-left: 15px !important;
padding: 5px;
margin-top: 8px;

color: black;
z-index: 1;

}

.menu div{
	padding-top: 15px;
	margin-top: 5px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}
.search{
	padding-top: 15px;
	height: 26px;
	
	display: inline-block;
	

}
.login{
	padding-top: 15px;
	height: 26px;
	background:;
	position: absolute;
	text-align: top;
	display: inline-block;
	margin-bottom: 10px;
	

}
.login a{
	font-size: 0.9rem !important;
}
  
 .login img{
 	margin-right: 5px;

 	margin-top: -10px;
 }
 .panier{

 	display: inline-block;
 	width:130px;
 	margin-left: 125px;
	height: 26px;
	background:;
	margin-top: -19px;
	text-align: top;
	
	
	
 }
 .panier  img{
 	
 	margin-top: -19px;
 	padding-left: 4px;
 	
 }


/*-------------------Footer---------------------*/


.service h1{
	font-size: 1.0rem;
	text-transform: uppercase;
	color: #F68B1A !important;
	font-weight: 400;
	line-height: 14px;
	padding-bottom: 7px;
	margin-bottom: 8px;
}
.service{
	display: inline-block;
	width:250px;
	vertical-align: top;
}
.rechercher{
	margin-top: -13px;
	margin-left: -5px;


}
.rechercher input{
	height: 33px;
	border:1px solid white;
	box-shadow:1px 1px 2px rgba(0,0,0,.3) inset;
	border-radius:10px;
}

#footer a  {
	font-family: Roboto,sans-serif !important;
	color: #FFF !important;
	font-size: 0.8rem !important;
	line-height: 17px !important;
	height: auto !important;
	width: 100% !important;
}
#footer{
	padding-top: 15px;
	width:100% !important;
	margin-bottom: 0px;
	position: relative;
	margin-top: 40px;
	background-color: #434343;
	padding-bottom: 30px;

}
.jondre{
	margin-top:50px;
	display: inline-block;
	width:250px;
	vertical-align: top;


}
.joindre h1{
	font-size: 1.0rem;
	text-transform: uppercase;
	color: #F68B1A !important;
	font-weight: 400;
	line-height: 14px;
	padding-bottom: 7px;
	margin-bottom: 8px;
}
#footer a:hover {
	color:#F68B1A !important;

}