
div#hdp img {
     border:0; 
     position:relative; 
     bottom:50px; 
     right:-50px;
     float: right;
}
.content{
	position: relative;
	width:966px;
	background-color: ;
	margin-top: 0px;
}
.categorie{
	vertical-align: top;
	width:228px;
	display: inline-block;
	margin: -12px 0px 8px;
	min-height: 300px;
	box-shadow: 0px 3px 15px #B2B2B2;


}
.suivi a{
	list-style: none;
	color: white;
}
.table td{

	border:1px solid transparent;
	border-color: #DDD;
}
.categ{
	margin-top:15px;
	width:220px;
	height: 100px;
	margin-right: 20px;
	margin-left: 20px;
	position: relative;
	box-shadow: 0px 3px 15px #B2B2B2;
	display: inline-block;
	min-height: 165px;
	
}
.souscat{
	position: absolute;
	text-align: left;
	margin-left: -25px !important;
	margin-top: -22px !important;

}
.souscat li a{
	font-size: 0.9rem;
	color: #666;
}
.souscat li a:hover{
	color:#F68B1A;
 	margin-left: 5px;
	
}
.menu-vertical{
	
	
}
 .categorie a{
 	text-transform: uppercase;

	color: #4B4A4B;
	font-family: Roboto,sans-serif;
	font-size: 0.9rem;
	top: 0px;
	left: 0px;
	height: 27px;
	line-height: 27px;
	display: block;
	padding: 0px 0px 0px 10px;
	
}
 .categorie a:hover{

 	color:#F68B1A;
 	margin-left: 5px;
 }
.cate h1{
	font-size: 1.0rem;
	text-transform: uppercase;
	color: #F68B1A	 !important;
	font-weight: 400;
	line-height: 14px;
	padding-bottom: 7px;
	margin-bottom: -5px;
	padding-left: 5px;
}
.cate h1 a{
	color: #F68B1A	 !important;


}
 li {
	list-style: none;
}
a{
	text-decoration: none;

}
.slide{
	vertical-align: top;
	display: inline-block;
	width: 478px;
	margin-top: -20px
}
.promo{
	vertical-align: top;
	display: inline-block;
	width:200px;
	float: right;

}
.image{
	width:200px;
	display:block;
	margin-bottom: 7px;
	border-width: 0px;
border-style: none;
border-color: -moz-use-text-color;
border-image: initial;
overflow: hidden;
}

.promotion{
	width:966px;
	background-color: bl;
	margin-top:40px;
	display: inline-block;
	margin-bottom: -30px;
}
.title{
	text-transform: uppercase;
	font-weight: bold;
	font-family:Robot, sans-serif;
	font-size: 1.0rem;
	margin:10px 20px 0px;
	margin-bottom: -20px;
	opacity: 0.5;
	line-height: 20px;
}
.imgpromo{
	display: inline-block;
	padding-top: 30px;
	margin-top: -32px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	


}

.imgpromo img{


	border: 1px solid transparent;
	border-color: #DDD;


	

}
.voir{
	font-weight: bold;
	font-family:Robot, sans-serif;
	font-size: 1.0rem;
	font-style: italic;
	opacity: 0.5;
	
	float: right;
}
.cat{
	padding: 10px;
	display: block;
	font-weight: bold;
	font-size: 1.2rem;
	margin-left: 15px;
	border: 1px solid transparent;
	background-color: #F5F5F5;
border-color: #DDD;
}

.affiche{
	vertical-align: top;
	display: inline-block;
	position:relative;
	width:680px;
	height: 600px;
}
.imgaff{
	position: relative;
	display: inline-block;
	float:left;
	width:340px;
	height: 350px;
	
}
.detail{
	position: relative;
	display: inline-block;
	width: 337px;
	height: 480px;
	border-right: 3px solid transparent;
	border-color:#DDD;;
}
.imgaff img{
	border: 1px solid transparent;
	border-color: #DDD;

}
.recommandation{
	vertical-align: top;
	display: inline-block;
	width:278px;
	height: 480px;
	border:1px solid transparent;
	border-color: #DDD;
}
.vente{
	margin-top: -130px;
	position: relative;
	display: block;
	width: 966px;

}
.bpanier a{
	color: #FFF ;
}
.bpanier{
	background: transparent linear-gradient(to right, #F68B1E 0px, #F99E1B 43%, #F99E1B 57%, #F68B1E 100%) repeat scroll 0% 0%;
	   display: block;
    vertical-align: baseline;
    padding: 10px;
    font-size: 1.1rem;
    border:1px solid transparent;
    border-radius: 8px;
    font-family: "Roboto Condensed",sans-serif;
    color: #FFF !important;
    border-color: #F68B1E;
    width: 200px;
    text-align: center;

}
.dpanier{
	background-color:#F5F5F5 !important;
	border:1px solid transparent;
	width:850px;
	height: 50px;
	border-color: #DDD;
	margin:10px 10px 10px ;
	position: relative;
}
.rafraichir{
	background: transparent linear-gradient(to right, #F68B1E 0px, #F99E1B 43%, #F99E1B 57%, #F68B1E 100%) repeat scroll 0% 0%;
	 display: block;
   margin-left:95px;
    padding: 2px;
    font-size: 1.1rem;
    border:1px solid transparent;
    border-radius: 8px;
    font-family: "Roboto Condensed",sans-serif;
    color: #FFF !important;
    border-color: #F68B1E;
    width: 180px;
    text-align: center;
    clear:both;
}

.commande a{
	clear:both;
	background: transparent linear-gradient(to right, #F68B1E 0px, #F99E1B 43%, #F99E1B 57%, #F68B1E 100%) repeat scroll 0% 0%;
	 display: block;
   margin-left:95px;
    padding: 5px;
    font-size: 1.1rem;
    border:1px solid transparent;
    border-radius: 8px;
    font-family: "Roboto Condensed",sans-serif;
    color: #FFF !important;
    border-color: #F68B1E;
    width: 200px;
    text-align: center;
}
.menucompte{
	margin-top:5px;
	width:240px;
	height:250px;
	margin-right: 10px;

	position: relative;
	box-shadow: 0px 3px 15px #B2B2B2;
	display: inline-block;
	min-height: 165px;
	
}
.menucompte a{
	 	
	 	margin-left: -30px;
	color: #4B4A4B;
	font-family: Roboto,sans-serif;
	font-size: 0.9rem;
	top: 0px;
	left: 0px;
	height: 27px;
	line-height: 27px;
	display: block;
	padding: 0px 0px 0px 10px;
}
.infoclient{
	
	padding: 10px;
	display: block;
	font-weight: bold;
	font-size: 1.2rem;
	margin-left: 15px;
	border: 1px solid transparent;
	background-color: #F5F5F5;
border-color: #DDD;


}
.infoclient h4{

	font-size: 1.0rem;
}
.rafraichir1{
	background: transparent linear-gradient(to right, #F68B1E 0px, #F99E1B 43%, #F99E1B 57%, #F68B1E 100%) repeat scroll 0% 0%;
	 display: block;
   margin-left:95px;
    padding: 2px;
    font-size: 1.1rem;
    border:1px solid transparent;
    border-radius: 8px;
    font-family: "Roboto Condensed",sans-serif;
    color: #FFF !important;
    border-color: #F68B1E;
    width: 280px;
    text-align: center;
    clear:both;
}
.deta{

	display: inline-block;
	margin-left: 15px;

}
.compte table{
	border-collapse: collapse;
	width:700px;

}
.compte td{
	border:1px solid black;
	font-size: 0.8rem;
	width:35px;
	text-align: center;
}
.compte th{
	font-size: 0.9rem;

}
.compte{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	width:697px;
}
.conf p{
	font-family: Roboto,sans-serif;
	font-size: 0.9rem;
	text-shadow:none;
	color: #000;


}
.conf li:before{
	content: "\A4 \ "; 
	
}
.conf li{
	color:#F68B1A ;
}
.bonpaie{
	position: relative;
	width: 800px;
	height: 400px;
	box-shadow: 0px 2px 15px #B2B2B2;
	margin-left: 83px;
}
.detpaie{
	vertical-align: bottom;
	width: 200px;
	display: inline-block;
	margin-left: 30px;

}
.modepaie{
	vertical-align: bottom;
	display: inline-block;
	float: right;
	width:300px;
	
}
.detpaie p{
	color: #F68B1A;
	font-size: 1.0rem;
}
.contentpaie td{
	font-size: 0.9rem;
	line-height: 30px;
}
.contentpaie{
	margin-left: 30px;
}